<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Configuration">
  <ProtectedSites>
    <ProtectedSite>
      <Name></Name>
      <IsChecked>false</IsChecked>
      <Applications>
        <Application>
          <Name></Name>
          <VirtualPath></VirtualPath>
        </Application>
      </Applications>
    </ProtectedSite>
  </ProtectedSites>
</Config>